%table#positions
  %tr
    %th Asset
    %th Units
    %th Status
  - for position in @positions
    %tr.position
      %td= position.asset.name
      %td= position.current_units
      %td= position.status
      %td= link_to 'Show', position_path(position)
      %td= link_to 'Edit', edit_position_path(position)
      %td= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete
      