- title "Summary of #{@position.asset.name} Holdings"

%h2 Transactions

%table#transactions
  %tr
    %th Date
    %th Action
    %th Units
    %th Value
  - for transaction in @position.transactions
    %tr{:class => "#{transaction.type.downcase}"}
      %td= transaction.date.strftime("%d %B %Y")
      %td= transaction.type
      %td= transaction.units
      %td= number_to_currency(transaction.value, :unit => '£')

%ul
  %li= link_to "Asset Position List", asset_path(@position.asset)
  %li= link_to "Add a new Purchase", new_position_purchase_path(@position)
  %li= link_to "Add a new Sale", new_sale_path
