- title "Summary of #{@position.asset.name} Holdings in Position #{@position.id}"

%ul
  %li= link_to "View all positions for this asset", asset_path(@position.asset)
  %li= link_to "View position purchases", position_purchases_path(@position)
  %li= link_to "View position sales", position_sales_path(@position)
