- title "Asset: #{@asset.name}"

%h1= "Transactions for #{@asset.name}"

%table#transactions
  %tr
    %th Date
    %th Units
    %th Value
    %th Costs
  - for transaction in @asset.transactions
    %tr.transaction
      %td= transaction.date.strftime("%d %B %Y")
      %td= transaction.units
      %td= number_to_currency(transaction.total_value, :unit => '£')
      %td= number_to_currency(transaction.cost, :unit => '£')

%ul#position
  %li#amount_paid= "Position purchase value = #{number_to_currency(@asset.amount_paid, :unit => '£')}"
      
%p
  = link_to "View All", assets_path