- title "Summary of #{@asset.name} Holdings"

%h2 Position Summary

%p#total_units= "You currently hold #{@asset.current_units} units"

%h2 Positions

%table#positions
  %tr
    %th Asset
    %th Units
    %th Status
  - for position in @asset.positions
    %tr.position
      %td= position.asset.name
      %td= position.current_units
      %td= position.status
      %td= link_to 'Show', position_path(position)
      %td= link_to 'Edit', edit_position_path(position)
      %td= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete
            
%ul
  %li= link_to "View All", assets_path
  %li= link_to "New Position", new_position_path