- title "Summary of #{@asset.name} Holdings"

%h2 Position Summary

%ul#position
  %li#amount_paid= "Position purchase value = #{number_to_currency(@asset.amount_paid, :unit => '£')}"
  %li#units_held= "Position units = #{@asset.units_held}"
  %li#unit_price= "Position average purchase price = #{number_to_currency(@asset.unit_price, :unit => '£')}"
      
%h2 Transactions

%table#transactions
  %tr
    %th Date
    %th Action
    %th Units
    %th Value
  - for transaction in @asset.transactions
    %tr{:class => "#{transaction.type.downcase}"}
      %td= transaction.date.strftime("%d %B %Y")
      %td= transaction.type
      %td= transaction.units
      %td= number_to_currency(transaction.value, :unit => '£')

%p
  = link_to "View All", assets_path