- title "Summary of #{@asset.name} Holdings"

%h2 Position Summary

%ul#position
  %li#amount_paid= "Position purchase value = #{number_to_currency(@asset.amount_paid, :unit => '£')}"
  %li#units_held= "Position units = #{@asset.units_held}"
  %li#average_purchase_price= "Position average purchase price = #{number_to_currency(@asset.average_purchase_price, :unit => '£')}"
      
%h2 Transactions

%table#transactions
  %tr
    %th Date
    %th Units
    %th Value
    %th Expenses
  - for transaction in @asset.transactions
    %tr.transaction
      %td= transaction.date.strftime("%d %B %Y")
      %td= transaction.units
      %td= number_to_currency(transaction.value, :unit => '£')
      %td= number_to_currency(transaction.expenses, :unit => '£')

%p
  = link_to "View All", assets_path