- title "Summary of #{@asset.name} Holdings"

%h2 Position Summary

%p#total_units= "You currently hold #{@asset.current_units} units"

%h2 Positions

= render :partial => 'positions/table'            

%ul
  %li= link_to "View All", assets_path
  %li= link_to "New Position", new_asset_position_path(@asset)