<% title "New Transaction" %>

<%= form_for @transaction do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :asset_id %><br />
    <%= f.text_field :asset_id %>
  </p>
  <p>
    <%= f.label :total_value %><br />
    <%= f.text_field :total_value %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", transactions_path %></p>
